.form-container {
  box-shadow: $boxShadow;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  form {
    display: flex;
    flex-direction: column;
    .fileUpload {
      label {
        margin-right: 20px;
      }
    }
    input:not([type="file"]) {
      width: 100%;
      margin: 10px 0px;
    }
    input[type="submit"] {
      cursor: pointer;
    }
  }
  .link {
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: $greyColor;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1),
      0 0 0 1px rgba(42, 47, 69, 0.16);
    border-radius: 5px;
    font-size: 14px;
    &:first-child {
      margin-bottom: 20px;
    }
    a {
      display: block;
      width: 100%;
      text-decoration: none;
      color: black;
    }
  }
}
